body
{
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;



}


form
{
border: 2px solid red;
width: 50%;
margin-left: 300px;
text-align: left;
}



.ranga
{

margin-left:140px;
margin-bottom:50px;
}

.ranga input

{
color: red;

}